{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Sarah Liu's Flask</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Fun Facts about Me!</h5>
                    <p class="card-text">
                        <ol>
                            <li> I have been playing flute for 7 years </li>
                            <li> My favorite color is Red </li>
                            <li> I am a big fan of Travis Scott and Kanye West </li>
                            <li> I enjoy hanging out with friends and family</li>
                            <li> My favorite season is Winter </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/daysbeforerodeo.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title"> Travis Scott Albums <mark> RANKED </mark> </h5>
                    <p class="card-text">
                        <ol>
                            <li> Days Before Rodeo </li>
                            <li> Rodeo (Expanded Version) </li>
                            <li> Astroworld </li>
                            <li> Huncho Jack, Jack Huncho </li>
                            <li> Owl Pharaoh </li>
                            <li> Birds in the Trap Sing McKnight </li>
                            <li> Jackboys </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title"> My Goals for CSP </h5>
                    <p class="card-text">
                        <ol>
                            <li> Learn different languages of code </li>
                            <li> Get good grades </li>
                            <li> Enjoy learning code </li>
                            <li> Excel in AP exam! </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}