<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Fun Facts about me!</strong></h1>
        <p class="text-secondary"><bold>Even more facts about me!</bold>
            <ol>
                <li> I am a Junior this year </li>
                <li> My favorite food is Sushi</li>
                <li> I have been playing flute for 7 years </li>
                <li> My favorite color is Red </li>
                <li> I am a big fan of Travis Scott and Kanye West </li>
                <li> I enjoy hanging out with friends and family</li>
                <li> My favorite season is Winter </li>
                <li> My favorite part about CSP is learning new things from code languages to my errors in my code</li>
            
            </ol>
        </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
